<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.istream.system.mapper.SysRoleMapper">

    <select id="selectRolePage" resultType="com.istream.system.entity.SysRole">
        SELECT id, role_name, role_key, role_sort, data_scope, status,
               create_by, create_time, update_by, update_time, del_flag, remark
        FROM sys_role
        WHERE del_flag = 0
        <if test="query.roleName != null and query.roleName.trim() != ''">
            <bind name="escapedRoleName" value="@com.istream.framework.util.SqlUtils@escapeLike(query.roleName)"/>
            AND role_name LIKE CONCAT('%', #{escapedRoleName}, '%') ESCAPE '\\'
        </if>
        <if test="query.roleKey != null and query.roleKey.trim() != ''">
            <bind name="escapedRoleKey" value="@com.istream.framework.util.SqlUtils@escapeLike(query.roleKey)"/>
            AND role_key LIKE CONCAT('%', #{escapedRoleKey}, '%') ESCAPE '\\'
        </if>
        <if test="query.status != null">
            AND status = #{query.status}
        </if>
        ORDER BY role_sort ASC
    </select>

    <select id="selectRoleKeysByUserId" resultType="java.lang.String">
        SELECT r.role_key FROM sys_role r
        INNER JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND r.del_flag = 0
          AND r.status = 0
        ORDER BY r.role_sort
    </select>

</mapper>